.container {
  background: lightgreen;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.heading {
  font-weight: bold;
  color: dodgerblue;
}

p.note {
  background-color: violet;
  font-size: 15px;
  font-weight: 400;
}
